/* sleepyti.me */
html {
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url('../images/html_bg.png');
	color: #eaeaea;
	background-color: #97181b;
    height: 100%;	
}

body {
    color: #e3e3e3;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin: 0 auto;
    height: 100%;
}

p, .waketime, #wake-times, #sleep-times {

	padding-bottom: 10px;

	padding-top: 10px;

}

strong: {
	font-weight: bold;
}

a, a:visited {
    color: white;
}

input, select {
    font-size: 3em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.container {
	position: absolute;
	margin-left: -350px;
	                   
	margin-bottom: 0;
	                   
	margin-right: 0;
	                   
	margin-top: -250px;
	                   
	top: 50%;
	left: 50%;
	width: 700px;
	height: 500px;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;    
    display: block;
    position: absolute;
}

h1 {
    font-weight: bold;
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #111111;
    text-shadow: 0px 1px 1px #414141;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 3em;
    background: #191919 url('../images/topbar_bg.png') bottom left repeat-x;
    -moz-box-shadow: 0px 5px 15px #151515;
	-webkit-box-shadow: 0px 5px 15px #151515;
	box-shadow: 0px 5px 15px #151515;
}

h2 {
	text-shadow: 1px 1px 2px black;
	color: #f6f6f6;
	font-size: 2em;
}

section {
	text-align: center;
}

#picker {
	margin-top: 20px;
}

#sleepnow {
}

#footer {
    font-color: #666666;
    font-family: 'Lato', sans-serif;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}


.time {
    border-color: #323232;
    border-style: solid;
    border-width: 2px;
    text-shadow: 0px 0px 4px #ff0017;
    color: #ffaaa2;
	padding: 7px 10px;
	margin: 0 10px;
    float: left;
    font-size: 1.5em;
    font-family: Rationale, sans-serif;
	background: #1c1c1c;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.label {
}
.green {
    text-shadow: 0px 0px 4px #caf2ba;
    color: #caf2bb;
}

.brightgreen {
    text-shadow: 0px 0px 4px #30cc2a;
    color: #30cc2a;
}

.back {
    display: block;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;

    font-size: 34px;

}

.clear {
	clear: both;
}

#back {
	height: 50px;
	width: 50px;
}

/* TOOL TIP */
		.tooltip {
			font-size: 1em;
			color: #d3d3d3; 
			outline: none;
			cursor: pointer; 
			text-decoration: none;
			position: relative;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltip:hover span {
			position: absolute; 
			left: -20px; 
			top: 50px; 
			z-index: 99;
			margin-left: 0; width: 100px;
		}

		